*{
margin: 0%;
padding: 0%;
}

body {
    background-image: linear-gradient(to top, #75593a, #000000);
}

.background-nav{
    background-color: #000000;
}


   




/*CENTRO Y FOTO MEDIO*/

.centroyfoto{

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 500px;
    align-items: center;
    padding: 20px;
    margin: 20px;
    
    }


.derecha{

    justify-content: center;
    color: #75593a;
}  


/*TEXTO DEL PIE INICIO color: #75593a;
*/

.piedeinicio{

    color: #75593a;
    text-align: center ;
    padding: 40px;
    }

/*FOOTER*/

footer {
/*background-color: #E9E5CC;*/
background-image: linear-gradient(to top, #000000, #75593a);
text-align: center;
padding: 50px;
}  

 /*SECCION TRATAMIENTOS*/

                                 
.msjdte{
margin: 10px;
color: #75593a;
border: #75593a;
background-image:url("/imagenes/descontractutrante.jpg") ;
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center center;
text-align: center ;
border-radius: 55px;
}

article {
padding: 150px;
color: #75593a;
}

.msjrte{
margin: 10px;
color: #75593a;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-image:url("/imagenes/relajante.jpg") ;
text-align: center ;
border-radius: 55px;
}  

.msjrdcte{
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
margin: 10px;
color: #75593a;
background-image:url("/imagenes/msjrdcte.jpg") ;
text-align: center ;
border-radius: 55px;
 }

.msjprja{
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
margin: 10px;
color: #75593a;
background-image:url("/imagenes/msjprja.jpg") ;
text-align: center ;
border-radius: 55px;    
}

.msjdptvo{
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
margin: 10px;
color: #75593a;
background-image:url("/imagenes/deportivoo.jpg") ;
text-align: center ;
border-radius: 55px;
}

.msjrflex{
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
margin: 10px;
color: #75593a;
background-image:url("/imagenes/reflexologia.jpg") ;  
text-align: center ;
border-radius: 55px;
}


    /*SERVICIOS*/
.Contenedor-servicios{
margin: 40px;
padding: 30px;

}


     /*SECCCON PRODUCTOS*/
     .contenedor-productos{
         margin: 30px;
         padding: 20px;

     }



    /*SECCION CONTACTOS*/

    .contenedor-contacto{
        color: #E9E5CC;
    }


    /*     MEDIA INICIO   */


@media screen and (max-width:480px)
{
.encabezadoinicio, .tituloyslogan{
    height: 100%;
}


    .centroyfoto{
        grid-template-columns: 1fr;
    }


}
@media screen and (max-width:600px){
    .encabezadoinicio, .tituloyslogan{
        height: 100%;
        width: 100%;

    }
    
    
        .centroyfoto{
            grid-template-columns: 1fr;
        }

}

    /*     MEDIA TRATAMIENTOS  */

@media screen and (max-width:480px){

    .encabezadoinicio, .tituloyslogan{
        width: 100%;
    }

  #contenedortratamientos{
      
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  article{
text-align: center; 
padding: 0%;
}

}

@media screen and (max-width:600px){
    .encabezadoinicio, .tituloyslogan{
        width: 100%;
    }

  #contenedortratamientos{
      
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  article{
text-align: center; 
padding: 0%;
}

}


    /*     MEDIA SERVICIOS  */


@media screen and (max-width:480px){ 
    .encabezadoinicio, .tituloyslogan{
        width: 100%;
    }
    #contenedorservicios{
        grid-template-columns: 1fr;

    }
    

}
 
@media screen and (max-width:600px){
    .encabezadoinicio, .tituloyslogan{
        width: 100%;}

        #contenedorservicios{
            grid-template-columns: 1fr;
            margin: 0%;
    
        }
    
    }

    /*     MEDIA PRODUCTOS  */


    @media screen and (max-width:480px){ 
        .encabezadoinicio, .tituloyslogan{
            width: 100%;
        }
        #contenedorproductos{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr  1fr;
    
        }
        
    
    }
     
    @media screen and (max-width:600px){
        .encabezadoinicio, .tituloyslogan{
            width: 100%;}
            
            #contenedorproductos{
                grid-template-columns: 1fr;
                grid-template-rows: 1fr  1fr;
        
            }
        
        }

    /*     MEDIA CONTACTO  */


    @media screen and (max-width:480px){ 
        .encabezadoinicio, .tituloyslogan{
            width: 100%;
        }
        #contenedorcontacto{
            grid-template-columns: 1fr;
    
        }
        .direccion{
            padding: 0%;
         }
        
    
    }
     
    @media screen and (max-width:600px){
        .encabezadoinicio, .tituloyslogan{
            width: 100%;}
            
            #contenedorcontacto{
                grid-template-columns: 1fr;
        
            }
            .direccion{
               padding: 0%;
            }

        
        }
    






























